html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f2f1ed;
  font-family: Georgia;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  font-family: "Patua One", sans-serif;
  margin: 0;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

.pano {
  margin: 1rem;
}

.logo {
  width: 14rem;
}

ul {
  list-style: none;
  justify-content: space-around;
}

li {
  display: inline;
  font-size: 2rem;
  font-family: "Patua One", sans-serif;
}

a {
  text-decoration: underline;
  color: #fff;
  margin: 1rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}

figure:first-child {
  grid-column: 1;
  grid-row: 1;
}

figure:last-child {
  grid-column: 2;
  grid-row: 1;
}

h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
}

p {
  font-family: Georgia;
}
