html {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  background-color: #f2f1ed;
  font-family: Georgia;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  font-family: "Patua One", sans-serif;
  margin: 0;
  display: grid;
  grid-template-areas:
  "header"
  "main"
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  grid-area: header;
}

.logo {
  width: 14rem;
  margin: 2rem;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
}

.pano {
  position: relative;
  margin: 1rem;
  width: 100%;
}

ul {
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1rem;
  padding-top: 1rem;
}

li {
  display: inline;
  font-size: 2rem;
  font-family: "Patua One", sans-serif;
}

a {
  text-decoration: underline;
  color: #fff;
  margin: 1rem;
}

main {
  display: flex;
  grid-area: main;
}

h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
}

p {
  font-family: Georgia;
}
